body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 10px;
}

.block {
    width: 100px;
    height: 100px;
    background-color: #47426d;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
    position: relative;
}

.block img {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.block.flipped img {
    display: block;
}
